* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    cursor: pointer;
}

nav {
    background-color: rgba(0, 123, 255, 0.8);
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin-left: 20px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover, a:active {
    text-decoration: underline;
}

.about{
    text-align: center;
    background-color: white;
    color: #333;
    margin-top: 20px;
    font-weight: bolder;
  }

.content{
    color: black;
    font-size: larger;
    margin: 5px 40px;
}