* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    cursor: pointer;
}

nav {
    background-color: rgba(0, 123, 255, 0.8);
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin-left: 20px;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover, a:active {
    text-decoration: underline;
}

.ct{
  text-align: center;
  background-color: white;
  color: #333;
  margin-top: 20px;
  font-weight: bolder;
}

.ct-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cyberthreats-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; 
  max-width: 400px;
  padding: 20px;
}

.cyberthreats-box:hover {
  transform: scale(1.01); 
  transition: transform 0.3s ease; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  border-radius: 8px ;
}

.cyberthreats-box h3 {
  background-color: #f0f0f0; 
  font-weight: bolder;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.cyberthreats-box p {
  background-color: #ffffff; 
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin: 15px;
}

.cyberthreats-box img{
  margin-top: 10px;
  max-width: 70px;
  max-height: 70px;
}

.container {
  padding: 20px;
  font-size: large;
}

.container h1 {
  margin-bottom: 20px;
}

.container h3 {
  margin-top: 20px;
}

.container p{
  text-align: center;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}
