<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://i.ibb.co/wJGggWF/4114.webp" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digi Suraksha</title>
    <link rel="stylesheet" href="static/about.css">
</head>
<body>
    <header>
        <h1>Digi Suraksha</h1>
        <img src="https://i.ibb.co/wJGggWF/4114.webp" alt="shield_icon" height="50px" width="50px"/>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/cyberthreats">Cyber Threats</a></li>
            <li><a href="/report">Report URL</a></li>
            <li><a href="/faq">FAQ</a></li>
        </ul>
    </nav>
    <div class="about">
        <h1>About Us</h1>
    </div>
    <br> </br>
    <div class="content">
        <p>Digi Suraksha is your dedicated partner in the digital realm, committed to safeguarding your online presence. With a mission to empower individuals and organizations with robust cybersecurity solutions, we offer advanced threat detection, educational resources, and link verification services. Our unwavering commitment to integrity and reliability ensures that you can navigate the digital landscape with confidence and peace of mind. Join us in building a safer, more secure digital future with Digi Suraksha.</p>
    </div>
    
</body>
</html>