<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="images/title_icon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digi Suraksha - Cybersecurity Threats</title>
    <link rel="stylesheet" href="static/cyberthreats.css" />
  </head>
  <body>
      <header>
        <h1>Digi Suraksha</h1>
        <img src="https://i.ibb.co/wJGggWF/4114.webp" alt="shield_icon" height="60px" width="60px"/>
    </header>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/cyberthreats">CYBER THREATS</a></li>
            <li><a href="/faq">FAQ</a></li>
        </ul>
    </nav>

    <div class="ct">
      <h1>Cybersecurity Threats</h1>
    </div>

    <section class="container">
      <p>
        Welcome to Digi Suraksha! Here, we'll explore the different types of
        cybersecurity threats that users may encounter:
      </p>
      <div class="cyberthreats-box">
        <h3>Phishing Attacks</h3>
        <p>
          Phishing attacks involve fraudulent attempts to obtain sensitive
          information, such as usernames, passwords, and credit card details, by
          disguising as a trustworthy entity. These deceptive tactics aim to
          manipulate individuals into revealing confidential data through emails,
          websites, or other communication channels. As a prevalent form of
          cybercrime, phishing poses significant risks to individuals, businesses,
          and organizations, highlighting the importance of robust cybersecurity
          measures and user vigilance in thwarting such malicious activities.
        </p>
    </div>
    <div class="cyberthreats-box">
        <h3>Malware Distribution</h3>
        <p>
          Malware distribution involves the spread of malicious software, such as
          viruses, worms, ransomware, and spyware, with the intent of causing harm
          to computer systems or stealing sensitive information. Cybercriminals
          deploy various methods, including email attachments, infected websites,
          and software downloads, to distribute malware to unsuspecting users.
          Once installed, malware can disrupt system operations, compromise data
          integrity, and compromise user privacy, underscoring the critical need
          for robust cybersecurity measures and proactive threat detection to
          mitigate the risks posed by malware attacks.
        </p>
      </div>

      <div class="cyberthreats-box">
        <h3>Identity Theft</h3>
        <p>
          Identity theft occurs when an unauthorized individual steals someone's
          personal information, such as their name, Social Security number, or
          credit card details, to commit fraud or other criminal activities. These
          criminals use various methods, including phishing scams, data breaches,
          and social engineering tactics, to obtain sensitive data and assume the
          identity of their victims. Once stolen, this information can be used to
          make unauthorized purchases, open fraudulent accounts, or engage in
          other illicit activities, causing financial loss and significant harm to
          the victim's reputation and creditworthiness. Vigilance, strong
          authentication measures, and proactive monitoring are essential defenses
          against identity theft in today's digital landscape.
        </p>
    </div>

    <div class="cyberthreats-box">
        <h3>Financial Fraud</h3>
        <p>
          Financial fraud involves deceptive practices aimed at illegally
          obtaining money or assets, including credit card fraud, investment
          scams, and wire transfer fraud. Cybercriminals employ various tactics
          such as phishing emails, fake investment schemes, and identity theft to
          deceive individuals and organizations into providing sensitive financial
          information or transferring funds. Once successful, these fraudulent
          activities can result in substantial financial losses for victims,
          damage to reputation, and legal consequences. Therefore, it is crucial
          for individuals and businesses to remain vigilant, adopt robust security
          measures, and stay informed about common fraud schemes to protect
          themselves from falling victim to financial fraud.
        </p>
    </div>

    <div class="cyberthreats-box">
        <h3>Spam and Unwanted Content</h3>
        <p>
          Spam refers to unsolicited bulk messages sent via email, text messages,
          or social media, often containing advertisements, scams, or malicious
          links. Unwanted content may include offensive or inappropriate material.
          These spam messages inundate users' inboxes and timelines, causing
          annoyance, clutter, and potential security risks. Common types of spam
          include phishing emails, fake advertisements, and fraudulent offers.
          Effective spam filtering and user education are essential to mitigate
          the impact of spam and protect users from falling victim to scams or
          malware distributed through these unsolicited messages.
        </p>
      </div>

      <p>
        It's crucial to stay vigilant and informed about these threats to
        protect yourself and your data online.
      </p>
    </section>


    <footer>
      <p>&copy; 2024 Digi Suraksha. All rights reserved.</p>
    </footer>
  </body>
</html>