<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="images/title_icon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digi Suraksha - Cybersecurity Threats</title>
    <link rel="stylesheet" href="static/cyberthreats.css" />
  </head>
  <body>
      <header>
        <h1>Digi Suraksha</h1>
        <img src="https://i.ibb.co/wJGggWF/4114.webp" alt="shield_icon" height="50px" width="50px"/>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/cyberthreats">Cyber Threats</a></li>
            <li><a href="/report">Report URL</a></li>
            <li><a href="/faq">FAQ</a></li>
        </ul>
    </nav>
    <div class="ct">
      <h1>Cybersecurity Threats</h1>
    </div>

    <section class="container">
      <p>
        Welcome to Digi Suraksha! Here, we'll explore the different types of
        cybersecurity threats that users may encounter:
      </p>
      <div class="ct-flex">
          <div class="cyberthreats-box">
            <h3>Phishing Attacks</h3>
            <img src="https://cdn0.iconfinder.com/data/icons/cyber-security-21/64/phishing-password-attack-virus-256.png"/>
            <p>
              Phishing attacks involve tricking individuals into disclosing sensitive information by posing as trustworthy entities. These fraudulent attempts often occur through emails or websites, aiming to obtain personal data like usernames, passwords, and credit card details. Vigilance and awareness are crucial to avoid falling victim to such deceptive tactics.
            </p>
        </div>
        <div class="cyberthreats-box">
            <h3>Malware Distribution</h3>
            <img src="https://cdn-icons-png.flaticon.com/512/1233/1233731.png"/>
            <p>
              Malware distribution refers to the dissemination of harmful software, including viruses and ransomware, with the intent to compromise computer systems or steal data. Cybercriminals employ various methods, such as email attachments or infected websites, to spread malware to unsuspecting users. Robust cybersecurity measures and proactive detection are essential to mitigate the risks associated with malware attacks.
            </p>
          </div>

          <div class="cyberthreats-box">
            <h3>Identity Theft</h3>
            <img src="https://cdn-icons-png.flaticon.com/512/3542/3542069.png"/>
            <p>
              Identity theft occurs when unauthorized individuals unlawfully acquire personal information, such as Social Security numbers or credit card details, to commit fraud. This can result in financial loss and damage to one's reputation. Preventative measures, such as strong authentication and vigilant monitoring, are crucial defenses against identity theft in the digital age.
            </p>
        </div>

        <div class="cyberthreats-box">
            <h3>Financial Fraud</h3>
            <img src="https://cdn0.iconfinder.com/data/icons/cyber-crime-or-threats-blue-set/120/credit_card_fraud-1024.png"/>
            <p>
              Financial fraud involves deceptive practices aimed at illegally obtaining money or assets. Cybercriminals use tactics like phishing emails and fake investment schemes to trick individuals and organizations into providing sensitive financial information. Awareness of common fraud schemes and adoption of robust security measures are vital to protect against financial losses and legal consequences.
            </p>
        </div>

        <div class="cyberthreats-box">
            <h3>Spam and Unwanted Content</h3>
            <img src="https://cdn-icons-png.flaticon.com/512/6410/6410052.png"/>
            <p>
              Spam refers to unsolicited bulk messages, often containing scams or malicious links, sent via email, text, or social media. This inundation of unwanted content poses annoyance and potential security risks to users. Effective spam filtering and user education are essential for mitigating these impacts and avoiding falling victim to scams or malware hidden within unsolicited messages.
            </p>
          </div>
        
          <div class="cyberthreats-box">
            <h3>Ransomware Attacks</h3>
            <img src="https://cdn0.iconfinder.com/data/icons/cyber-crime-or-threats-blue-set/120/ransomware-1024.png"/>
            <p>
              Ransomware attacks use malware to encrypt files or lock systems, demanding payment for decryption. They disrupt operations, leading to financial losses and data compromise. Prevention involves robust cybersecurity measures and regular backups. Detection and response strategies are crucial to minimize damage. Vigilance and user education help mitigate the risk of infection.
            </p>
          </div>

    </div>
      <p>
        It's crucial to stay vigilant and informed about these threats to
        protect yourself and your data online.
      </p>
    </section>


    <footer>
      <p>&copy; 2024 Digi Suraksha. All rights reserved.</p>
    </footer>
  </body>
</html>